---
layout: post
heading: First Listens
title: First Listens | JJPLaw
tags: project
date: 2025-01-01
description: An interactive visualisation of the albums that I listened to for the first time between 2018 and 2024.
---

{% css %}{% include "./style/flowers.css" %}{% endcss %}
{% js %}{% include "./content/projects/first-listens/script.js" %}{% endjs %}

<div class="grid centre">
<section class="col-start-3 col-span-8 sm:col-span-12 sm:margin-bottom">
  <h2>A Field of Flowers</h2>
  <p>Since 2018*, I've recorded every album (either LP or EP) that I've listened to for the first time.</p>
  <p>This visualisation shows the number of albums that I listened to each day by the size of the petals. Each flower is a different month.</p>
  <p>Click on a flower to zoom in, then click on the petals to explore that day's albums. Select the "highlight favourites" option to show days with albums that I'd recommend!</p>
</section>
</div>
<div class="figures">
  <figure id="vis"></figure>
  <div id="sidebar-container">
    <figure class="sidebar" id="info">
      <h2>Information</h2>
      <div class="overflow">
        <h3></h3>
        <h4></h4>
        <ol></ol>
        <div id="scrollToVis"></div>
      </div>
    </figure>
    <figure class="sidebar" id="options">
      <h2>Options</h2>
      <label>
        <input type="checkbox" id="favourite" name="favourite"/>
        Highlight favourites
      </label>
    </figure>
    <figure class="sidebar" id="legend">
      <h2>Legend</h2>
      <div id="legend-figures">
        <figure id="dates">
          <h3>Date</h3>
        </figure>
        <figure id="petals">
          <h3>Nº albums</h3>
        </figure>
      </div>
    </figure>
  </div>
</div>
<div class="grid centre">
<section class="col-start-3 col-span-8 sm:col-span-12 sm:margin-top sm:margin-bottom">
  <p style="font-size: 1rem">*I've actually been doing this since 2017, but during that first year I didn't record the date that I listened to anything.</p>
</section>
</div>
