_site
drafts
package-lock.json
content/projects/first-listens/artwork
content/projects/phd-figures/figures
content/blog/.obsidian
content/blog/drafts
content/blog/images
node_modules
CNAME
*/.DS_Store
fonts
icons