---
title: Blog | JJPLaw
heading: Blog
layout: section
---

<section class="grid centre sm:margin-bottom">
    {% assign postslist = collections.blog | sort: 'data.date' | reverse %}
    {% include 'postslist.liquid' %}
</section>