---
title: Home | JJPLaw
heading: Home
layout: section
---
{% css %}{% include "./style/flowers.css" %}{% endcss %}
{% css %}{% include "./style/home.css" %}{% endcss %}
{% js %}{% include "./script.js" %}{% endjs %}

{% comment %} <section class="grid">
    <a href="/projects/first-listens/"><figure id="vis"></figure></a>
    <section class='sidebar' id="info">
        <h2></h2>
        <p></p>
        <ol></ol>
        <p><a href="/projects/first-listens/">Click here</a> to discover more</p>
    </section>
</section> {% endcomment %}

<figure class="centre home sm:home" id="vis"></figure>