---
title: Projects | JJPLaw
heading: Projects
layout: section
---

<section class="grid centre sm:margin-bottom">
    {% assign postslist = collections.project | sort: 'data.title' %}
    {% include 'postslist.liquid' %}
</section>