---
layout: post
date: 2025-01-27
tags: project draft
title: PhD Thesis Figures | JJPLaw
heading: PhD Thesis Figures
description: A selection of figures from my PhD thesis.
---

<div class="grid centre">
  <section class="col-start-3 col-span-8 sm:col-span-12 sm:margin-bottom">
    <h2>Microbiological Figures</h2>
    <p>It was during my PhD in Microbiology that I found a love for designing and making data visualisations, where figures are essential for conveying your results. While many scientists are content to create visualisations that are purely functional I much preferred to put some consideration into the look and feel of a figure, as in my opinion there's really nothing worse than an ugly looking graph.</p>
    <p>Here, I show a selection of my favourite figures from my thesis, titled "The effects of subinhibitory antibiotic concentrations on
      <em>Pseudomonas&nbsp;aeruginosa</em>
      within model Cystic Fibrosis bacterial communities", and from my published paper, titled
      <a href='https://dx.doi.org/10.1128/spectrum.01842-22'>"The Effects of Antibiotic Combination Treatments on
        <em>Pseudomonas aeruginosa</em>
        Tolerance Evolution and Coexistence with
        <em>Stenotrophomonas maltophilia</em>"</a>.</p>
  </section>

</div>